.ng-csv-loading::before {
  content: '';
  display: inline-block;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  border-right: 2px solid #5ebeff;
  width: 12px;
  height: 12px;
  line-height: 12px;
  margin-right: 4px;
  -webkit-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}